/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "variables";

html {
  background-color: var(--bg-dark);
}

body {
  background: var(--bg);
  min-height: 100vh;
}
