<div class="d-flex justify-content-between align-items-center">
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <button class="btn btn-outline-primary" type="button" (click)="fc.patchValue(fc.value - 1)"
        [disabled]="fc.value <= 1">-</button>
    </div>
    <input type="number" class="form-control" value="1" [formControl]="fc" [max]="99">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" (click)="fc.patchValue(fc.value + 1)"
        [disabled]="fc.value >= 99">+</button>
    </div>
  </div>

  <button class="btn btn-sm btn-primary text-uppercase">Objednat</button>
</div>
