.event {
  padding: 20px 0;
  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
  h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: none;
  }
  p {
    margin-top: 10px;
  }

  &:first-of-type {
    padding-top: 0;
  }
}

.img {
  width: 100px;
  margin-right: 10px;
  flex-shrink: 0;
}
img {
  width: 100%;
}

a {
  color: var(--primary);
}

.d-flex {
  display: flex;
  align-items: flex-start;
}
.clear {
  clear: both;
}
