<div class="c-main-nav">
  <div class="container-md">
    <div class="row">
      <div class="col">
        <nav>
          <ul>
            <% categories.forEach(category=> { %>
            <li>
              <a
                href="/cat/<%=category.slug%>"
                class="<%= req.url == `/cat/${category.slug}` ? 'active' : '' %>"
              >
                <%= category.name %>
              </a>
            </li>
            <% }) %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
