<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&display=swap" rel="stylesheet">
</head>

<body>

    {{> header}}

    <main>
        {{> teaser}}
    </main>

    <section id="donate">
        {{> payment}}

        {{> event_list}}
    </section>


</body>

</html>