<div class="wrapper d-flex align-items-center">
  <div>
    <h1>Přispějte komunitnímu centru Matky Terezy</h1>
    <div class="message">
      <p>Milí farníci,

        především bychom vám chtěli poděkovat za podporu farnosti v době pandemie covidu-19, která nám dovoluje držet
        farnost při životě.

        Bohužel se situace z minulého pololetí protáhla a vlastně prohloubila. Vládní nařízení produkují v našem sektoru
        nejistotu a proto se v podstatě nedá spolehnout na žádné standardní přijmy z hospodářské činosti. Jedinou
        podporou
        farnosti jste v tuto chvíli vy.
        <a href="https://www.kcmt.cz/clanky-vse/ekonomika-farnosti-v-roce-2020/">Pokračovat ve
          čtení&hellip;</a>
      </p>
      <p>Můžete si vybrat jednu z možností, jak naší farnosti přispět:</p>
    </div>
    <div class="inner">
      <div class="cols-2">
        <h2>Dar farnosti</h2>
        <ul>
          <li>Celá částka jde farnosti</li>
          <li>Je potřeba vyplnit kontaktní údaje do poznámky v platbě, abychom vám mohli zaslat potvrzení o daru</li>
          <li>Možnost dát do daňového přiznání</li>
        </ul>
        <a [routerLink]="['.']" [queryParams]="{type: 'donation'}" fragment="donate"
          (click)="scrollToDonate($event)">Přispět</a>
      </div>
      <div class="cols-2">
        <h2>Nedělní sbírka</h2>
        <ul>
          <li>Obdoba nedělní sbírky v kostele</li>
          <li>10% z částky jde arcibiskupství</li>
        </ul>
        <a [routerLink]="['.']" [queryParams]="{type: 'sunday'}" fragment="donate"
          (click)="scrollToDonate($event)">Přispět</a>

      </div>
    </div>
  </div>
</div>
<div class="arrow">
  <img src="/assets/arrow.svg">
</div>
