<div class="wrapper">
  <div>
    <h1>Nedělní sbírka</h1>
    <p>Modi in provident aut eius repellendus. Accusamus aspernatur consequatur praesentium debitis. Ut eum pariatur
      molestiae vel.</p>
    <ul>
      <li>Stejné jako nedělní sbírka v kostele</li>
      <li>10% jde arcibiskupství</li>
      <li>Neuznává se v daňovém přiznání</li>
      <li>Anonymní</li>
    </ul>
    <a href="#donate" (click)="scrollToDonate($event)">Přispět</a>
  </div>
  <div>
    <h1>Dar farnosti</h1>
    <p>Explicabo distinctio ea ullam qui. Dolorum quo iure rerum sint consequuntur amet ut sunt. Ut ducimus et omnis
      eligendi itaque quia id non ipsam. Qui recusandae porro. Id distinctio consequatur esse qui. Repellendus vel
      laborum.</p>
    <ul>
      <li>Peníze jdou farnosti</li>
      <li>Je potřeba vyplnit kontaktní údaje do poznámky v platbě</li>
    </ul>
    <a href="#donate" (click)="scrollToDonate($event)">Přispět</a>
  </div>

</div>
<div class="arrow">
  <img src="/assets/arrow.svg">
</div>
