@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.c-header {
  & {
    background-color: var(--bg);
    display: block;
    padding: 10px 20px;
  }

  .logo {
    font-size: 30px;
    text-decoration: none;
    display: flex;
    max-width: 200px;
    line-height: 1;
  }

  @include media-breakpoint-down(xs) {
    & {
      padding: 10px;
    }
    .fa-seedling {
      font-size: 1.5rem;
    }
  }
}
