<div class="header">
    <header>
        <a href="https://www.kcmt.cz">
            <img src="images/logo.png" alt="Logo Komunitní centrum matky Terezy"
                title="Logo Komunitní centrum matky Terezy">
        </a>
    </header>
</div>