<div class="header">
    <header>
        <a href="https://www.kcmt.cz">
            <img src="images/logo.png" alt="Logo Komunitní centrum matky Terezy"
                title="Logo Komunitní centrum matky Terezy">
        </a>
        <a href="https://www.farni-sbirka.cz" class="ml-auto">
            <img src="images/farni-sbirka.svg" alt="Logo farni-sbirka.cz" title="Logo farni-sbirka.cz" width="150">
        </a>
    </header>
</div>