<div class="teaser">
    <div class="wrapper d-flex align-items-center">
        <div>
            <h1>PŘISPĚJTE KOMUNITNÍMU CENTRU MATKY TEREZY</h1>
            <div class="message">
                <p>Milí přátelé,
                    děkujeme vám za podporu farnosti v době pandemie covidu-19, která nám dovoluje držet farnost při
                    životě.

                    Z důvodu nařízených omezení společenského života se potýkáme s výrazným výpadkem příjmů z pronájmu
                    prostor KCMT
                    a z kostelních sbírek. Jedinou podporou farnosti jste v tuto chvíli vy.
                    <a href="https://www.kcmt.cz/clanky-vse/ekonomika-farnosti-v-roce-2020/">Pokračovat ve
                        čtení&hellip;</a>
                </p>
                <p>Můžete si vybrat jednu z možností, jak farnosti sv. Františka z Assisi Praha Chodov přispět:</p>
            </div>
            <div class="inner">
                <div class="cols-2">
                    <h2>Dar farnosti</h2>
                    <ul>
                        <li>Celá částka zůstává ve farnosti</li>
                        <li>Dar můžete uplatnit v daňovém přiznání a snížit si tak daň z příjmu</li>
                        <li>Je potřeba vyplnit kontaktní údaje do poznámky v platbě, abychom vám mohli po skončení roku
                            zaslat
                            potvrzení o daru</li>
                    </ul>
                    <a href="/?type=donation#donate">Přispět</a>
                </div>
                <div class="cols-2">
                    <h2>Nedělní sbírka</h2>
                    <ul>
                        <li>Obdoba nedělní sbírky v kostele</li>
                        <li>10% z částky bude odvedeno na Arcibiskupství</li>
                    </ul>
                    <a href="/?type=sunday#donate">Přispět</a>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow">
        <img src="/images/arrow.svg">
    </div>
</div>