.payment {
  flex-grow: 1;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 60px);
  overflow: auto;

  .qr-code {
    text-align: center;
    flex-grow: 1;
  }
  .account-info {
    margin-top: 10px;
    line-height: 2rem;
  }

  img {
    min-width: 200px;
    max-width: 100%;
  }

  a.active {
    text-decoration: underline;
  }

  .btn {
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 7px 15px;
    border-radius: 3px;
    white-space: nowrap;
    margin-bottom: 10px;

    &:hover {
      background-color: var(--primary);
      color: white;
      cursor: pointer;
    }
  }

  .payment-amount-selector {
    .amounts {
      margin: 10px 0;
      display: flex;
      flex-wrap: wrap;
      input {
        &.active + label {
          background-color: var(--primary);
          color: white;
        }

        &:not(:last-child) + label {
          margin-right: 10px;
        }
      }
    }

    .form-control {
      position: relative;
      flex-grow: 1;
      &:focus-within span {
        display: block;
      }
    }
    .form-control span {
      display: none;
      position: absolute;
      right: 25px;
      bottom: 3px;
    }
  }

  .custom-amount {
    display: flex;
    align-items: flex-end;
    .submit-btn {
      margin-left: 10px;
      margin-bottom: 15px;
    }
  }

  input[type='submit'] {
    display: none;
    & ~ label {
      border: 1px solid var(--primary);
      color: var(--primary);
      padding: 7px 15px;
      border-radius: 3px;
      white-space: nowrap;
      margin-bottom: 10px;

      &:hover {
        background-color: var(--primary);
        color: white;
        cursor: pointer;
      }
    }
  }

  .contact-form .submit-btn {
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  h2 {
    margin-top: 0;
  }

  .payment-info {
    display: flex;
  }

  @media screen and (max-width: 880px) {
    .payment-info {
      display: block;
    }
  }

  .account-info {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0 15px;
    text-align: left;
    order: -1;
    flex-basis: 50%;
    .text-disabled {
      color: #636363;
    }
  }
  @media screen and (max-width: 400px) {
    .account-info {
      grid-template-columns: 1fr;
    }
  }
}
