:host {
  display: block;
  padding: 20px;
  box-sizing: border-box;
}

.qr-code {
  text-align: center;
}
.account-info {
  margin-top: 10px;
  line-height: 2rem;
}

img {
  min-width: 200px;
  max-width: 100%;
}

a.active {
  text-decoration: underline;
}

.btn {
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 7px 15px;
  border-radius: 3px;
  white-space: nowrap;
  margin-bottom: 10px;

  &:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
  }
}
