<div>
  <label>Částka</label>

  <div class="amounts">
    <ng-container *ngFor="let a of amountOptions">
      <input [id]="'amountFC-' + a" type="radio" [formControl]="radioFC" [value]="a"> <label
        [for]="'amountFC-' + a">{{ a }} Kč</label>
    </ng-container>
    <input id="amountFC-custom" type="radio" [formControl]="radioFC" value="custom"> <label
      for="amountFC-custom">Vlastní</label>
  </div>
</div>

<div class="form-control" *ngIf="radioFC.value === 'custom'">
  <input id="amount_selector__custom_amount" type="number" [formControl]="customAmountFC" placeholder="&nbsp;">
  <label for="amount_selector__custom_amount">Vyplňte vlastní částku</label>
  <span>Kč</span>
</div>
