.amounts {
  margin: 10px 0;
  input {
    display: none;
    & ~ label {
      border: 1px solid var(--primary);
      color: var(--primary);
      padding: 2px 5px;
      border-radius: 3px;
      &:hover {
        background-color: var(--primary);
        color: white;
        cursor: pointer;
      }
    }

    &:checked + label {
      background-color: var(--primary);
      color: white;
    }

    &:not(:first-child) + label {
      margin-left: 10px;
    }
  }
}

.form-control {
  position: relative;
  &:focus-within span {
    display: block;
  }
}
.form-control span {
  display: none;
  position: absolute;
  right: 25px;
  bottom: 3px;
}
